.fabric/
crash-reports/
data/
datapacks/
debug/
downloads/
logs/
resourcepacks/
saves/
screenshots/
config/
echo-model/
Distant_Horizons_server_data/
command_history.txt
command_history.txt
command_history.txt
usercache.json
command_history.txt
usercache.json
