.fabric/
crash-reports/
data/
datapacks/
debug/
downloads/
logs/
resourcepacks/
saves/
screenshots/
shaderpacks/
axiom/
bbs/
echo-model/
Distant_Horizons_server_data/
command_history.txt
command_history.txt
command_history.txt
usercache.json
command_history.txt
usercache.json
command_history.txt
hexawall.db
hs_err_pid16880.log
hs_err_pid2576.log
hs_err_pid27260.log
hs_err_pid27756.log
hs_err_pid9368.log
options.txt
servers.dat
servers.dat_old
/config/blockrex
/config/Buscaminas
/config/chatcontrol
/config/ChainedTogether
/config/eventinator
/config/fabric
/config/findwaldo
/config/hexa-ambience
/config/hexabaldosa
/config/hexagaunlet
/config/greenlighthideandseek
config/hexapalabra.yml
config/DistantHorizons.toml
config/geowarepoints_secret.key
config/hexapalabra_points.json
/config/animorph
/config/hexatowerdefense
/config/hwarzone
/config/lacaceria
config/lithium.properties
config/iris.properties
config/iris-excluded.json
/config/overcooked
/config/RacingCircuit
config/sodium-fingerprint.json
config/sodium-mixins.properties
config/sodium-options.json
/config/snakeminigame
/config/tomb of mask minigame
config/vasos.json
config/vasos.yml
/config/VehicleP
/config/viejo-oeste
/config/voicechat
servers.dat
servers.dat_old
/config/mediaplayer
/config
/space-impact
/echo-models
